body{
    background-color: black;
    color: silver;
    
}
button{
    background-color: silver;
    margin-left: 550px;
    font-size: 15px;
    margin-top: 35px;
}

h1{
    text-align: center;
    margin-top: 200px;
    font-size: 75px;
}
h1:hover{
    color: aliceblue;
    font-weight: bolder;
}

